:root {
    --green: #3ab54a;
    --grey: #f3f4f5;
    --red: #cd412c;
    --white: #ffffff;
    --black: #333333;
    --dark-grey: #7f7f7f;
    --yellow: #fdd922;
    --roboto: "Roboto", sans-serif;
    --radius: 7px;
    --transition: all 0.3s ease-in-out;
    --shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.15);
}
