.card {
    border: unset;
    overflow: hidden;
    transition: $transition;

    &:hover {
        box-shadow: $shadow;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        padding: 16px;
        position: relative;
        background-color: $white;
        border-radius: $radius;
    }

    &-image {
        width: 100%;
        max-height: 200px;
        height: 100%;
        margin-bottom: 8px;
        display: block;

        img {
            display: block;
            max-height: 200px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: contain;
        }
    }

    &-label {
        background-color: $red;
        width: fit-content;
        position: absolute;
        top: 16px;
        left: 16px;
        color: $white;
        font-size: 12px;
        border-radius: $radius;
        padding: 3px 14px;
    }

    &-favorite {
        background-color: $green;
        width: fit-content;
        position: absolute;
        top: 16px;
        right: 16px;
        color: $white;
        border-radius: $radius;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            svg {
                fill: $red;

                path {
                    stroke: $red;
                    transition: $transition;
                }
            }
        }

        svg {
            width: 24px;
            height: 24px;

            path {
                transition: $transition;
            }
        }

        &.active {
            svg {
                fill: $red;

                path {
                    stroke: $red !important;
                    transition: $transition;
                }
            }
        }
    }

    &-body {
        padding: 0;
    }

    &-partnumber {
        color: $dark-grey;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &-name {
        color: $black;
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 16px;
        height: 52px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-prices {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;

        &-new {
            color: $black;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
        }

        &-old {
            color: $dark-grey;
            text-decoration: line-through;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 0;
        }
    }

    &-delivery {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $black;
        font-size: 14px;
        margin-bottom: 16px;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &-btn {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 18px;
        font-weight: 500;
    }

    &-viewed {
        display: flex;
        flex-direction: row;
        padding: 8px;
        gap: 8px;

        &-img {
            width: 80px;
            height: 80px;
            display: block;
            flex: 0 0 auto;

            img {
                max-width: 80px;
                width: 100%;
                height: auto;
            }
        }

        &-texts {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-title {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
            color: $black;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 38px;
        }

        &-price {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
            color: $black;
        }

        &-favorite {
            svg {
                path {
                    stroke: $red;
                }
            }

            &:hover {
                transition: $transition;

                svg {
                    fill: $red;
                }
            }

            &.active {
                transition: $transition;

                svg {
                    fill: $red;

                    path {
                        stroke: $red;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .card {
        &-inner {
            padding: 8px;
        }

        &-image {
            max-height: 180px;

            img {
                max-height: 180px;
            }
        }

        &-label {
            top: 8px;
            left: 8px;
            font-size: 10px;
            padding: 3px 8px;
        }

        &-favorite {
            top: 8px;
            right: 8px;
            width: 24px;
            height: 24px;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        &-partnumber {
            font-size: 10px;
        }

        &-name {
            font-size: 16px;
            font-weight: 400;
            height: 37px;
            margin-bottom: 14px;
            line-height: 1.2;
        }

        &-prices {
            flex-direction: column-reverse;
            gap: 2px;
            align-items: flex-start;
            margin-bottom: 12px;

            &-new {
                font-size: 16px;
            }

            &-old {
                font-size: 14px;
            }
        }

        &-delivery {
            gap: 4px;
            font-size: 10px;
            margin-bottom: 12px;

            svg {
                width: 14px;
                height: 14px;
            }
        }

        &-btn {
            height: 40px;
            display: flex;
            gap: 8px;
            font-size: 16px;
            font-weight: 400;

            svg {
                width: 18px;
                height: 18px;
            }
        }

        &-viewed {
            display: flex;
            flex-direction: row;
            padding: 8px;
            gap: 8px;

            &-img {
                width: 80px;
                height: 80px;
                display: block;
                flex: 0 0 auto;

                img {
                    max-width: 80px;
                    width: 100%;
                    height: auto;
                }
            }

            &-texts {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &-title {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 0;
                color: $black;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 38px;
            }

            &-price {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0;
                color: $black;
            }
        }
    }
}

@media (max-width: 576px) {
    .card {
        .mobile-card {
            flex-direction: row;

            .card {
                &-image {
                    width: 130px;
                    height: 100%;
                    flex: 0 0 130px;
                    margin-bottom: 0;
                }

                &-body {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0;
                }

                &-partnumber {
                    order: 2;
                }

                &-name {
                    order: 1;
                    padding-right: 30px;
                }

                &-prices {
                    order: 3;
                    flex-direction: row;
                    gap: 8px;
                    align-items: center;
                }

                &-delivery {
                    order: 4;
                }

                &-btn {
                    order: 5;
                }
            }
        }
    }
}
