.footer {
    border-top: 5px solid $green;
    background: $white;
    margin-top: 150px;
    padding: 50px 0 0px;

    &-title {
        color: $black;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 0;
        margin-bottom: 30px;

        &-item {
            list-style-type: none;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 8px;
            color: $black;

            a {
                color: $black;
                transition: $transition;
                font-size: 16px;

                &:hover {
                    color: $green;
                }
            }

            &-text {
                font-size: 14px;
                margin-bottom: 24px;
            }

            &.status {
                background-color: $green;
                width: fit-content;
                padding: 0 12px;
                border-radius: $radius;
                display: flex;
                gap: 8px;
                align-items: center;

                a {
                    color: $white;
                }
            }
        }
    }

    &-socials {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-btn {
            height: 50px;
        }
    }

    &-copyright {
        padding: 33px 0;
        color: $dark-grey;
        font-size: 12px;
        font-weight: 400;
        border-top: 1px solid $green;
        margin-top: 90px;

        p {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1200px) {
    .footer {
        .row {
            gap: 30px;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        margin-top: 100px;
        padding-bottom: 70px;

        &-title {
            font-size: 16px;
            margin-bottom: 20px;
        }

        &-list {
            gap: 12px;

            &-item {
                a {
                    font-size: 14px;
                }

                &-text {
                    font-size: 14px;
                    margin-bottom: 24px;
                }
            }
        }
    }
}
