.nav-mobile {
    background-color: $white;
    border-radius: $radius $radius 0 0;
    padding: 8px 0 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px -5px 20px -5px rgba(34, 60, 80, 0.2);
    display: none;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        .router-link-exact-active {
            color: $green;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        font-size: 12px;
        width: 62px;
        color: $black;
    }
}

@media (max-width: 1200px) {
    .nav-mobile {
        display: block;
    }
}
